* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  font-size: 62.5%;
  --light-gray:  #0000008A;
  --blue-gradient: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
  --red-gradient: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
  

}

.input::-webkit-input-placeholder {
  color:#0000008F;
}

.input:-moz-placeholder {
  color:#0000008F;
}

.input::-moz-placeholder {
  color:#0000008F;
}

.input:-ms-input-placeholder {
  color:#0000008F;
}


html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  color: #000;
  width: 100%;
  height: 100%;

}

@media (max-width: 768px) {
  body {
    padding-inline: 2.4rem;

  }
}

button{
  border: none;
  background: transparent;
}



button:hover{
  cursor: pointer;
}

button:disabled {

  opacity: 0.5;
  cursor: default;
}


ul{
  list-style: none;
  list-style-type: none;
}

input[type="checkbox"] {
  /* outline: 1px solid red; */
  outline: none;
  border: none;
  /* border: 0px solid transparent; */
  width: 2.4rem;
  height: 2.4rem;
}

body {
  font-size: 1.6rem;
  overflow: overlay;
  background-color: var(--bg-light);
}


a {
  color: inherit;
  text-decoration: none;
}

